* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  --accent-color: #121d3f;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
}
header {
  border: 1px solid black;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    10px 10px 20px rgba(0, 0, 0, 0.15);
}
main {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
sidebar {
  border: 1px solid black;
  grid-column: 1/2;
  background-color: var(--accent-color);
  color: white;
  padding: 20px;
}
header h1 {
}
sidebar ul {
  width: 100%;
}
sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul,
li {
  list-style-type: none; /* Removes bullet points */
  padding: 5px; /* Removes padding */
  /* Removes margin */
  width: 100%;
}
ul li:hover {
  border: 1px white solid;
  cursor: pointer;
}
